@{
    ViewData["Title"] = "Thank You!";
    Layout = "_LayoutForm";
}

<div class="text-center">
  <h1>Thank You!</h1>
  <h2>Your proposal is successfully submitted :)</h2>
  <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Back Home</a>
</div>
